body{
    background-color: black;

}

#dados{
    text-align: center;

}

form{
    display: block;
    justify-content:space-between;
    align-items: center;
    text-align:center;
}

#cv{
    text-align: center;
    border-color: red;
    border-width: 5px;
    background-color:white;
    color: black;
}

#info{
    border-color: red;
    border-width: 5px;
    background-color:white;
    color: black;
}